<div class="container">
  <div class="page-header">

    <h1>Editing Task</h1>
    <hr>

    <ol class="breadcrumb">
      <li><%= link_to "Tasks", tasks_path %></li>
      <li class="active"><%= "New Task" %></li>
    </ol>

    <%= render "form" %>

  </div>
</div>
