<div class="container">
<div class="page-header">

<h1>New Task</h1>
<hr></hr>
<div class="space2"></div>


<%= form_for @task do |f| %>
<div><%= f.label :description %></div>
<div><%= f.text_field :description %></div>
<div class="space1"></div>

<%= f.submit "Edit Task" %>
<div class="space2"></div>


<% end %>


</div>
</div>
