<div class="container">
<div class="page-header">

<h1>Listing Tasks</h1>
<hr></hr>
<div class="space2"></div>

<% @tasks.each do |task| %>
<%= task.description %>
<hr></hr>
<% end %>

<u><%= link_to "New Task", new_task_path %></u>

</div>
</div>
