<div class="container">
<div class="page-header">


<%= link_to "Edit", edit_task_path, class:"btn btn-info pull-right" %>
<h1><%= @task.description %></h1>


<u><%= link_to "Back", tasks_path %></u>



</div>
</div>
