<div class="container">
<div class="page-header">

<%= link_to "Edit", edit_task_path, class:"btn btn-info pull-right" %>
<h1><%= @task.description %></h1>
<hr>

<ol class="breadcrumb">
  <li><a><%= link_to "Tasks", tasks_path %></a></li>
  <li class="active"><%= @task.description %></li>
</ol>


</div>
</div>
