<div class=container>
<div class=page-header>

    <h1>Listing Tasks</h1>
    <h3>Description</h3>
  <div class="row">
    <div class="col-md-12"
    <h4>Test Task</h4>
    <u><%= link_to "Show" %></u>
    <u><%= link_to "Edit" %></u>
    <u><%= link_to "Destroy" %></u>
  </div>
</div>

    <u><%= link_to "New Task" %></u>



</div>
</div>
