<div class="container">
  <div class="page-header">

    <%= link_to "New User", new_user_path, class: "btn btn-info pull-right" %>
    <h1>Users</h1>
    <hr>

    <table class="table">
      <thead>
        <tr>
          <th class="col-md-4">User</th>
          <th class="col-md-3">Email</th>
          <th class="col-md-5"></th>
        </tr>
      </thead>

      <% @users.each do |user| %>

      <tr>
        <td class="col-md-3">
          <%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %>
        </td>

        <td class="col-md-8">
          <%= link_to user.email, user_path(user) %>
        </td>

        <td class="col-md-1">
          <%= link_to "Edit", edit_user_path(user) %>
        </td>
      </tr>

      <% end %>

    </table>
  </div>
</div>
