<div class="container">

  <div class="jumbotron">
    <h1>gCamp</h1>
    <p>Your life, organized</p>
  </div>

<div class="page-header">

  <div class="row">
    <div class="col-md-4">
      <%=image_tag("2.jpg", class: "img-responsive")%>
    </div>
    <div class="col-md-4">
      <%=image_tag("3.jpg", class: "img-responsive")%>
    </div>
    <div class="col-md-4">
      <%=image_tag("1.jpg", class: "img-responsive")%>
    </div>
  </div>

  <h1></h1>

  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Tasks</h3>
        </div>
        <div class="panel-body">
          Grouped by projects and
          lists. Just the way you
          like'em
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Permissions</h3>
        </div>
        <div class="panel-body">
          Fine grained permissions
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Comments</h3>
        </div>
        <div class="panel-body">
          <ul>
          <li>Comment on tasks and documents</li>
          <li>Get email notifications</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
