
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <style type="text/css">
      <!--
      .tab { margin-left: 210px; }
      -->
      </style>
      <a class="navbar-brand" ><font face="Comic Sans MS"><font size="10"><p class="tab">gCamp</p></font></a>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <div class="jumbotron">
    <h1><font face="Comic Sans MS">gCamp</h1>
    <p><font face="Comic Sans MS"><font size="6">Your life, organized</p>
  </div>



  <div class="row">
    <div class="col-md-4">
      <%=image_tag("2.jpg", class: "img-responsive")%>
    </div>
    <div class="col-md-4">
      <%=image_tag("3.jpg", class: "img-responsive")%>
    </div>
    <div class="col-md-4">
      <%=image_tag("1.jpg", class: "img-responsive")%>
    </div>
  </div>

  <br>


  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><font face="Comic Sans MS"><font size="5">Tasks</font></h3>
        </div>
        <div class="panel-body"><font face="Comic Sans MS"><font size="5">
          Grouped by projects and
          lists. Just the way you
          like'em
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><font face="Comic Sans MS"><font size="5">Permissions</font></h3>
        </div>
        <div class="panel-body"><font face="Comic Sans MS"><font size="5">
          Fine grained permissions
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><font face="Comic Sans MS"><font size="5">Comments</font></h3>
        </div>
        <div class="panel-body">
          <li><font face="Comic Sans MS"><font size="5">Comment on tasks and documents</li>
          <li><font face="Comic Sans MS"><font size="5">Get email notifications</li>
        </div>
      </div>
    </div>
  </div>
