
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <style type="text/css">
      <!--
      .tab { margin-left: 210px; }
      -->
      </style>
      <a class="navbar-brand" ><p class="tab">gCamp</p></a>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <div class="jumbotron">
    <h1>gCamp</h1>
    <p>Your life, organized</p>
  </div>



  <div class="row">
    <div class="col-md-4">
      <%=image_tag("2.jpg", class: "img-responsive")%>
    </div>
    <div class="col-md-4">
      <%=image_tag("3.jpg", class: "img-responsive")%>
    </div>
    <div class="col-md-4">
      <%=image_tag("1.jpg", class: "img-responsive")%>
    </div>
  </div>

  <br>


  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Tasks</h3>
        </div>
        <div class="panel-body">
          Grouped by projects and
          lists. Just the way you
          like'em
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Permissions</h3>
        </div>
        <div class="panel-body">
          Fine grained permissions
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Comments</h3>
        </div>
        <div class="panel-body">
          <li>Comment on tasks and documents</font</li>
          <li>Get email notifications</font</li>
        </div>
      </div>
    </div>
  </div>
