<div class="container">
  <div class="page-header">

    <h1>Edit Project</h1>
    <hr>

    <ol class="breadcrumb">
      <li><%= link_to "Projects", projects_path %></li>
      <li> <%= link_to @project.name, @project %></li>
      <li class="active">Edit</li>
    </ol>


    <%= render "form", {name_of_button: "Update Project"} %>

  </div>
</div>
