<div class="container">
  <div class="page-header">

    <%= link_to "New Project", new_project_path, class: "btn btn-info pull-right" %>
    <h1>Projects</h1>
    <hr>

    <table class="table">
      <thead>
        <tr>
          <th class="col-md-3">Name</th>
          <th class="col-md-8">Tasks</th>
          <th class="col-md-1"></th>
        </tr>
      </thead>

      <% current_user.projects.each do |project| %>

      <tr>
        <td class="col-md-6">
          <%= link_to "#{project.name}", project_path(project) %>
        </td>

        <td class="col-md-5">
          <%= link_to project.tasks.count, project_tasks_path(project) %>
        </td>

        <td class="col-md-1">
        </td>
      </tr>

      <% end %>

    </table>
  </div>
</div>
