<div class="container">
  <div class="page-header">

    <div class="pull-right">
      <%= link_to "Edit", edit_project_path, class: "btn btn-info" %>
      <%= link_to "Delete", @project, method: "delete", class: "btn btn-danger" %>
    </div>

    <h1> <%= @project.project_name %> </h1>
    <hr>

  </div>
</div>
